* {
  margin: 0;
  padding: 0;
  font-family: balvetica;
}
body {
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar-div {
  background-color: black;
  width: 100%;
}
.ul-navbar {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  color: white;
  list-style-type: none;
  padding: 10px;
  margin: 5px;
}
li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all .5s ease 0s;
  display: inline-block;
}
li a:hover {
  background-color: red;
 color: black;
 transition: .5 ease-in-out;
 border-radius: 1px;
 transform: rotate(1deg);
}

a {
  color: white;
  cursor: pointer;
  transition: all .10s ease 0s;
  text-decoration: none;
  text-align: center;
}
.jkt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all .20s ease 0s;
  border: solid white 5px;
}
.jkt:hover {
  color: red;
}
.content1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}